* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

/* -------------------------------
COMPONENT
------------------------------ */
.title{
  color: #007bb6;
}

/*---------------- 
Header 
----------------*/
.header {
  --background-color: rgba(0, 0, 0, 0.8);
  --heading-color: #ffffff;
  --contrast-color: #ffffff;
  color: #ffffff;
  background-color: #007cb6;
  padding: 10px 0;
  transition: all 0.5s;
  z-index: 997;
}

.header .logo {
  line-height: 1;
}

.header .logo h1 {
  font-size: 32px;
  margin: 0;
  font-weight: 700;
  color: #ffffff;
}

.header .logo span {
  color: #f4f4f4;
  font-size: 32px;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/* Navmenu - Desktop */
@media (min-width: 1200px) {
  .navmenu {
    padding: 0;
  }

  .navmenu ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navmenu li {
    position: relative;
  }

  .navmenu ul li {
    margin-right: 20px; /* spacing between links */
  }

  .navmenu a,
  .navmenu a:focus {
    text-decoration: none;
    color: #f4f4f4;
    padding: 18px 15px;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
  }

  .navmenu a i,
  .navmenu a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
    transition: 0.3s;
  }

  .navmenu li:last-child a {
    padding-right: 0;
  }

  .navmenu li:hover>a,
  .navmenu .active,
  .navmenu .active:focus {
    color: #000;
  }

  .navmenu .dropdown ul {
    margin: 0;
    padding: 10px 0;
    background: #f4f4f4;
    display: block;
    position: absolute;
    visibility: hidden;
    left: 14px;
    top: 130%;
    opacity: 0;
    transition: 0.3s;
    border-radius: 0;
    z-index: 99;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  }

  .navmenu .dropdown ul li {
    min-width: 200px;
  }

  .navmenu .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    color: #f4f4f4;
  }

  .navmenu .dropdown ul a i {
    font-size: 12px;
  }

  .navmenu .dropdown ul a:hover,
  .navmenu .dropdown ul .active:hover,
  .navmenu .dropdown ul li:hover>a {
    background-color: #000000;
  }

  .navmenu .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }

  .navmenu .dropdown .dropdown ul {
    top: 0;
    left: -90%;
    visibility: hidden;
  }

  .navmenu .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: -100%;
    visibility: visible;
  }
}
/* END */

/* Navmenu -- Mobile */
@media (max-width: 1199px) {
  .mobile-nav-toggle {
    color: #fff;
    font-size: 28px;
    line-height: 0;
    margin-right: 10px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .navmenu {
    padding: 0;
    z-index: 9997;
  }

  .navmenu ul {
    display: none;
    list-style: none;
    position: absolute;
    inset: 60px 20px 20px 20px;
    padding: 20px 0;
    margin: 0;
    border-radius: 6px;
    background-color: #000000;
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
    box-shadow: 0px 0px 30px rgba(11, 11, 11, 0.384);
  }

  .navmenu a,
  .navmenu a:focus {
    color: #f4f4f4;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
  }

  .navmenu a i,
  .navmenu a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.3s;
    background-color: white 90%;
  }

  .navmenu a i:hover,
  .navmenu a:focus i:hover {
    background-color: rgb(52, 89, 213) 90%;
  }

  .navmenu a:hover,
  .navmenu .active,
  .navmenu .active:focus {
    background-color: #000;
  }

  .navmenu .active i,
  .navmenu .active:focus i {
    transform: rotate(180deg);
  }

  .navmenu .dropdown ul {
    position: static;
    display: none;
    z-index: 99;
    padding: 10px 0;
    margin: 10px 20px;
    background-color: #007bb6;
    border: 1px solid color-mix( srgb, (25, 121, 218, 0.714), transparent 90%);
    box-shadow: none;
    transition: all 0.5s ease-in-out;
  }

  .navmenu .dropdown ul ul {
    background-color: rgba(25, 121, 218, 0.714);
  }

  .navmenu .dropdown>.dropdown-active {
    display: block;
    background-color: rgba(25, 121, 218, 0.714);
  }

  
  .mobile-nav-active {
    overflow: hidden;
  }

  .mobile-nav-active .mobile-nav-toggle {
    color: #fff;
    position: absolute;
    font-size: 32px;
    top: 15px;
    right: 15px;
    margin-right: 0;
    z-index: 9999;
  }

  .mobile-nav-active .navmenu {
    position: fixed;
    overflow: hidden;
    inset: 0;
    background: rgba(33, 37, 41, 0.8);
    transition: 0.3s;
  }

  .mobile-nav-active .navmenu>ul {
    background: #007bb6;
    display: block;
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}/* */


/*--------------------------------------------------------------
# Fill
--------------------------------------------------------------*/
.header-top {
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url('/aset/img/house/Gallery house1.jpg');
  background-size: cover;
  background-position: center;
  height: 300px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay{
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
.property-title {
  font-size: 2.5em;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  margin: 100px 0px 20px 0px;
}
.menu {
  display: flex;
  justify-content: center; /* Pusatkan secara horizontal */
}

ul.breadcrumbs {
  display: flex;
  align-items: center; /* Pastikan item rata tengah */
  margin: 0; /* Hilangkan margin default ul */
  padding: 0; /* Hilangkan padding default ul */
  gap: 5px; /* Jarak antar elemen */
  list-style-type: none; /* Hilangkan tanda bullet */
}

.breadcrumbs li {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}

.breadcrumbs a {
  color: #ffffff; /* Warna link default */
  text-decoration: none; /* Hilangkan garis bawah */
}

.breadcrumbs a:hover {
  color: #007bb6; /* Warna saat hover */
}

.list-house{
padding: 20px;
}

/* Search */
.search-bar {
  display: flex;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 30px;
}

.search-bar input, .search-bar select {
  width: 30%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.search-button {
  background: #fff;
  padding: 10px 20px;
  outline-style: solid;
  outline-color: #007bb6;
  border: 2px;
  border-radius: 5px;
  color: #007bb6;
  cursor: pointer;
}
.search-button:hover {
background: #007bb6;
color: #fff;
outline-color: #000;
border: 5px;
}

/* List View Kos */
.list-view .property-list {
  display: flex;
  flex: 0 0 100%;
  margin: 0;
}

.list-view .property-card {
  display: flex;
  flex-direction: row;
  width: 50%;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.list-view .property-card .image {
  flex: 0 0 30%;
  height: auto;
}

.list-view .property-card .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.list-view .property-card .property-info {
  display: flex;
  flex: 1;
  padding: 15px;
  flex-direction: column;
  justify-content: center;
}
/* Card kos */
.property-banner{
  background-color: #F6F5F2;
  padding: 20px;
  border-radius: 5px;
}

.property-list .property-card:hover{
  transform: translateY(-10px);
  transition: 0.5s;
  } 

.property-list {
  display: block;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 24px;
  transition: all 0.3s ease;
}
.property-list .property-card {
  background: #fff;
  box-shadow: 2px 2px 18px rgb(14 52 54 / 15%);
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  overflow: hidden;
}

.property-card .image img {
  width: 100%;
  height: 200px;
  padding: 20px;
  border-radius: 25px;
}
.property-info {
  text-align: center;
  font-size: 18px;
  margin-bottom: 25px;
}
.head{
  font-weight: 700;
}
.head a{
  text-align: center;
  color: #007bb6;
}
.property-info .price {
  text-align: center;
  font-size: 1.5rem;
  color: #ff5a60;
}
.property-info .location, 
.icon-box .item{
  font-size: 0.9rem;
  color: #333;
  margin-bottom: 10px;
}
.location{
  margin-top: 10px;
}
.icon-box {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
/* */

/*----------------
 FOOTER 
----------------*/
.site-footer
{
  background-color: #007bb6;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#f4f4f4;
  margin-top: 100px;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#FFF5CD;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer p, a, .footer-links a, .copyright-text a
{
  color:#f4f4f4;
  text-decoration: none !important;
}
.site-footer a:hover
{
  color:#000;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#000;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#818a91;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  color: #f4f4f4;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.instagram:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}