* {
  box-sizing: border-box;
}


.body .main{
  overflow-x: hidden;
}

/* Navbar*/
.navbar-brand {
  width: 100px;
  height: 100px;
  display: flex;
  margin-left: 50px;
}

#navbar .navbar .navbars1 .nvbr{
  display: flex;
}

.navbar{
  background-color: #2a2727;
  box-shadow: 2px #141416;
  height: 80px;
}

.nav-link:hover{
font-size: 1.5rem;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
  overflow-x: hidden;
}


.input-group {
  width: 200px;
  height: 25px;
}


/*explanation*/
.explanation {
  padding: 80px 0;
  position: relative;
  clip-path: inset(0);
  margin-top: -2px;
  
}

.explanation img {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.explanation:before {
  content: "";
  background: color-mix(in srgb, var(--background-color), transparent 50%);
  position: absolute;
  inset: 0;
  z-index: 2;
}

.explanation .container {
  position: relative;
  z-index: 3;
}

.explanation .support {
    margin-top: 30px;
    font-size: 16px;
    font-weight: 450;
    color: #fff;
    line-height: 30px;
}

/* Start Features */
.features .container h2{
  margin-top: auto;
}

.features {
  background-color: #f4f4f4;
  height: 700px;
}

.features .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px; /* Tambahkan jarak antar elemen */
}

.features .feat {
  flex: 1 1 22.75%; /* Pastikan setiap fitur memiliki lebar yang sama */
  margin-top: 50px;
  padding: 30px 40px;
  background-color: #fff;
  box-shadow: 0 0 15px #ccc;
  max-width: 300px; /* Batasan maksimal untuk fitur */
}

.features .feat i {
  color: #a2cf8d;
}

.features .feat h3 {
  font-size: 17px;
}

.features .feat p {
  color: #666;
}

.features .feat:hover,
.features .feat:nth-of-type(0) {
  background-color: #a2cf8d;
}

.features .feat:hover i,
.features .feat:nth-of-type(3) i,
.features .feat:hover h3,
.features .feat:nth-of-type(0) h3,
.features .feat:hover p,
.features .feat:nth-of-type(0) p {
  color: #fff;
}
/* End Features */


/* Daftar Tempat */

.cm{
  margin-top: 100px;
  display: flex;
}

.btn-secondary {
    background: #f5efff;
    color: #7839f3;
}

.recent-blog-posts .post-item {
    background: var(--surface-color);
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
  }
  
  .recent-blog-posts .post-item .post-img img {
    transition: 0.5s;
  }
  
  .recent-blog-posts .post-item .post-date {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: var(--accent-color);
    color: var(--contrast-color);
    text-transform: uppercase;
    font-size: 13px;
    padding: 6px 12px;
    font-weight: 500;
  }
  
  .recent-blog-posts .post-item .post-content {
    padding: 30px;
  }
  
  .recent-blog-posts .post-item .post-title {
    color: var(--heading-color);
    font-size: 20px;
    font-weight: 700;
    transition: 0.3s;
    margin-bottom: 15px;
  }
  
  .recent-blog-posts .post-item .meta i {
    font-size: 16px;
    color: var(--accent-color);
  }
  
  .recent-blog-posts .post-item .meta span {
    font-size: 15px;
    color: color-mix(in srgb, var(--default-color), transparent 50%);
  }
  
  .recent-blog-posts .post-item hr {
    color: color-mix(in srgb, var(--default-color), transparent 80%);
    margin: 20px 0;
  }
  
  .recent-blog-posts .post-item .readmore {
    display: flex;
    align-items: center;
    font-weight: 600;
    line-height: 1;
    transition: 0.3s;
    color: color-mix(in srgb, var(--default-color), transparent 40%);
  }
  
  .recent-blog-posts .post-item .readmore i {
    line-height: 0;
    margin-left: 6px;
    font-size: 16px;
  }
  
  .recent-blog-posts .post-item:hover .post-title,
  .recent-blog-posts .post-item:hover .readmore {
    color: var(--accent-color);
  }
  
  .recent-blog-posts .post-item:hover .post-img img {
    transform: scale(1.1);
  }
/* end */

/* */
.form-label{
  color: #fff;
}

/*Footer */
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#f4f4f4;
  margin-top: 100px;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#FFF5CD;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#f4f4f4;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#fff;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}