/* GOOGLE Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* */

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.body .main{
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/* Global */


/* */

.header {
  --background-color: rgba(0, 0, 0, 0.8);
  --heading-color: #ffffff;
  --contrast-color: #ffffff;
  color: #ffffff;
  background-color: #007cb681;
  padding: 10px 0;
  transition: all 0.5s;
  z-index: 997;
}

.header .logo {
  line-height: 1;
}

/* .header .logo img {
  max-height: 36px;
  margin-right: 8px;
} */

.header .logo h1 {
  font-size: 32px;
  margin: 0;
  font-weight: 700;
  color: #ffffff;
}

.header .logo span {
  color: #007bb6;
  font-size: 32px;
}

@media (max-width: 1200px) {
  .header .logo {
    order: 1;
  }

  .header .navmenu {
    order: 3;
  }
}

.scrolled .header {
  box-shadow: 0px 0 18px rgba(0, 0, 0, 0.1);
}

/* Index Page Header
------------------------------*/
.index-page .header {
  --background-color: rgba(0, 0, 0, 0);
}

/* Index Page Header on Scroll
------------------------------*/
.index-page.scrolled .header {
  --background-color: rgba(0, 0, 0, 0.8);
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Navmenu - Desktop */
@media (min-width: 1200px) {
  .navmenu {
    padding: 0;
  }

  .navmenu ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navmenu li {
    position: relative;
  }

  .navmenu a,
  .navmenu a:focus {
    color: #000;
    padding: 18px 15px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
  }

  .navmenu a i,
  .navmenu a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
    transition: 0.3s;
  }

  .navmenu li:last-child a {
    padding-right: 0;
  }

  .navmenu li:hover>a,
  .navmenu .active,
  .navmenu .active:focus {
    color: #33353d;
  }

  .navmenu .dropdown ul {
    margin: 0;
    padding: 10px 0;
    background: #f4f4f4;
    display: block;
    position: absolute;
    visibility: hidden;
    left: 14px;
    top: 130%;
    opacity: 0;
    transition: 0.3s;
    border-radius: 0;
    z-index: 99;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  }

  .navmenu .dropdown ul li {
    min-width: 200px;
  }

  .navmenu .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    color: #f4f4f4;
  }

  .navmenu .dropdown ul a i {
    font-size: 12px;
  }

  .navmenu .dropdown ul a:hover,
  .navmenu .dropdown ul .active:hover,
  .navmenu .dropdown ul li:hover>a {
    background-color: #000000;
  }

  .navmenu .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }

  .navmenu .dropdown .dropdown ul {
    top: 0;
    left: -90%;
    visibility: hidden;
  }

  .navmenu .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: -100%;
    visibility: visible;
  }
}
/* END */

/* Navmenu -- Mobile */
@media (max-width: 1199px) {
  .mobile-nav-toggle {
    color: var(--nav-color);
    font-size: 28px;
    line-height: 0;
    margin-right: 10px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .navmenu {
    padding: 0;
    z-index: 9997;
  }

  .navmenu ul {
    display: none;
    list-style: none;
    position: absolute;
    inset: 60px 20px 20px 20px;
    padding: 10px 0;
    margin: 0;
    border-radius: 6px;
    background-color: var(--nav-mobile-background-color);
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
    box-shadow: 0px 0px 30px rgba(11, 11, 11, 0.384);
  }

  .navmenu a,
  .navmenu a:focus {
    color: var(--nav-dropdown-color);
    padding: 10px 20px;
    font-family: var(--nav-font);
    font-size: 17px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
  }

  .navmenu a i,
  .navmenu a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.3s;
    background-color: white 90%;
  }

  .navmenu a i:hover,
  .navmenu a:focus i:hover {
    background-color: rgb(52, 89, 213) 90%;
  }

  .navmenu a:hover,
  .navmenu .active,
  .navmenu .active:focus {
    background-color: #33353d;
  }

  .navmenu .active i,
  .navmenu .active:focus i {
    transform: rotate(180deg);
  }

  .navmenu .dropdown ul {
    position: static;
    display: none;
    z-index: 99;
    padding: 10px 0;
    margin: 10px 20px;
    background-color: #007bb6;
    border: 1px solid color-mix( srgb, (25, 121, 218, 0.714), transparent 90%);
    box-shadow: none;
    transition: all 0.5s ease-in-out;
  }

  .navmenu .dropdown ul ul {
    background-color: rgba(25, 121, 218, 0.714);
  }

  .navmenu .dropdown>.dropdown-active {
    display: block;
    background-color: rgba(25, 121, 218, 0.714);
  }

  .mobile-nav-active {
    overflow: hidden;
  }

  .mobile-nav-active .mobile-nav-toggle {
    color: #fff;
    position: absolute;
    font-size: 32px;
    top: 15px;
    right: 15px;
    margin-right: 0;
    z-index: 9999;
  }

  .mobile-nav-active .navmenu {
    position: fixed;
    overflow: hidden;
    inset: 0;
    background: rgba(33, 37, 41, 0.8);
    transition: 0.3s;
  }

  .mobile-nav-active .navmenu>ul {
    display: block;
  }
}
/* */

/* explanation */
.explanation {
  padding: 150px 0;
  position: relative;
  clip-path: inset(0);
  margin-top: -80px;
  
}

.explanation img {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.explanation:before {
  content: "";
  background: color-mix(in srgb, var(--background-color), transparent 50%);
  position: absolute;
  inset: 0;
  z-index: 2;
}

.explanation .container {
  position: relative;
  z-index: 3;
}

.container h3{
  color: #33353d;
}

.explanation .support{
    margin-top: 30px;
    font-size: 16px;
    font-weight: 450;
    color: #fff;
    line-height: 30px;
}


/* Section title everywhere */
.section-title {
  margin-top: 50px;
  text-align: center;
  padding-bottom: 60px;
  position: relative;
}

.section-title h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 8px 20px;
  margin: 0;
  background: color-mix(in srgb, #007bb6, transparent 90%);
  color: #000;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 50px;
}

.section-title p {
  color: #000;
  margin: 10px 0 0 0;
  font-size: 32px;
  font-weight: 700;
}

.section-title p .description-title {
  color: #007bb6;
}
/* */


/* Start Service */
.sc{
  margin-bottom: 60px;
}

.services .service-item {
  background-color: #fff;
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
  padding: 50px 30px;
  transition: all 0.3s ease-in-out;
  height: 100%;
  position: relative;
  z-index: 1;
}

.services .service-item:before {
  content: "";
  position: absolute;
  background: #f4f4f4;
  inset: 100% 0 0 0;
  transition: all 0.3s;
  z-index: -1;
}

.services .service-item .icon {
  margin-bottom: 10px;
}

.services .service-item .icon i {
  color: #007bb6;
  font-size: 36px;
  transition: ease-in-out 0.3s;
}

.services .service-item h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 20px;
}

.services .service-item h4 a {
  color: #007bb6;
  transition: ease-in-out 0.3s;
}

.services .service-item p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
  transition: ease-in-out 0.3s;
}

.services .service-item:hover h4 a,
.services .service-item:hover .icon i,
.services .service-item:hover p {
  color: #000;
}

.services .service-item:hover:before {
  background: #007bb6;
  inset: 0;
  border-radius: 0px;
}
/* */

/* .features .container h2{
  margin-top: auto;
}

.features {
  background-color: #ffffff;
  height: 700px;
}

.features .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; */
  /* gap: 20px; Tambahkan jarak antar elemen
} */

/* .features .feat {
  flex: 1 1 22.75%; Pastikan setiap fitur memiliki lebar yang sama
  margin-top: 50px;
  padding: 30px 40px;
  background-color: #fff;
  box-shadow: 0 0 15px #ccc;
  max-width: 300px; Batasan maksimal untuk fitur
}

.features .feat i {
  color: #387ADF;
}

.features .feat h3 {
  font-size: 17px;
}

.features .feat p {
  color: #666;
}

.features .feat:hover,
.features .feat:nth-of-type(0) {
  background-color: #a2cf8d;
}

.features .feat:hover i,
.features .feat:nth-of-type(3) i,
.features .feat:hover h3,
.features .feat:nth-of-type(0) h3,
.features .feat:hover p,
.features .feat:nth-of-type(0) p {
  color: #fff;
} */
/* End */


/* FAQ */
.accordion{
  margin: 50px;
  border-radius: 100px;
}

.accordion .accordion-item{
  margin-bottom: 25px;
  border-radius: 25px;
}

.accordion-item h2{
  background-color: #007bb6;
  border: 20px;
  position: relative;
  padding: 10px;
  margin-bottom: 15px;
  overflow: hidden;
}

.accordion .accordion-item h2:hover{
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  color: #ffffff;
} 

.accordion-button{
  color: #007bb6;
}

.accordion-button:hover{
  color: #007bb6;
}
/* end */

/* Button */
  .btn-secondary {
      background: #f5efff;
      color: #7839f3;
  }

.cm{
  margin-top: 100px;
  display: flex;
}
/* */


.card{
  margin-top: 5%;
  margin-bottom: 5%;
}

.form-label{
  color: #fff;
}


/*Footer */
.site-footer
{
  background-color: #007bb6;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#f4f4f4;
  margin-top: 100px;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#FFF5CD;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#f4f4f4;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#fff;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}