/* Navbar*/
.navbar-brand {
  width: 100px;
  height: 100px;
  display: flex;
  margin-left: 40px;
}

#navbar .navbar .navbars1 .nvbr{
  display: flex;
}

.nav-link:hover{
font-size: 1.5rem;
}

.form-control {
  height: 30px;
  display: flex;
}


/*explanation*/
.explanation {
  padding: 40px 0;
  position: relative;
  clip-path: inset(0);
  margin-top: -2px;
  margin-bottom: 50px;
}

.explanation img {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height:800px;
  object-fit: cover;
  z-index: 1;
}

.explanation:before {
  content: "";
  background: color-mix(in srgb, var(--background-color), transparent 50%);
  position: absolute;
  inset: 0;
  z-index: 2;
}

.explanation .container {
  position: relative;
  z-index: 3;
}

.explanation .support {
    margin-top: 30px;
    font-size: 16px;
    font-weight: 450;
    color: #fff;
    line-height: 30px;
}


/* Daftar Tempat */

.btn-secondary {
    background: #f5efff;
    color: #7839f3;
}

.recent-blog-posts .post-item {
    background: var(--surface-color);
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
  }
  
  .recent-blog-posts .post-item .post-img img {
    transition: 0.5s;
  }
  
  .recent-blog-posts .post-item .post-date {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: var(--accent-color);
    color: var(--contrast-color);
    text-transform: uppercase;
    font-size: 13px;
    padding: 6px 12px;
    font-weight: 500;
  }
  
  .recent-blog-posts .post-item .post-content {
    padding: 30px;
  }
  
  .recent-blog-posts .post-item .post-title {
    color: var(--heading-color);
    font-size: 20px;
    font-weight: 700;
    transition: 0.3s;
    margin-bottom: 15px;
  }
  
  .recent-blog-posts .post-item .meta i {
    font-size: 16px;
    color: var(--accent-color);
  }
  
  .recent-blog-posts .post-item .meta span {
    font-size: 15px;
    color: color-mix(in srgb, var(--default-color), transparent 50%);
  }
  
  .recent-blog-posts .post-item hr {
    color: color-mix(in srgb, var(--default-color), transparent 80%);
    margin: 20px 0;
  }
  
  .recent-blog-posts .post-item .readmore {
    display: flex;
    align-items: center;
    font-weight: 600;
    line-height: 1;
    transition: 0.3s;
    color: color-mix(in srgb, var(--default-color), transparent 40%);
  }
  
  .recent-blog-posts .post-item .readmore i {
    line-height: 0;
    margin-left: 6px;
    font-size: 16px;
  }
  
  .recent-blog-posts .post-item:hover .post-title,
  .recent-blog-posts .post-item:hover .readmore {
    color: var(--accent-color);
  }
  
  .recent-blog-posts .post-item:hover .post-img img {
    transform: scale(1.1);
  }

.form-label{
  color: #fff;
}

  
  .footer {
    padding: 7em 0; }
  
  .footer-10 {
    background: #242525;
    padding: 0 0 4em 0; }

    .footer-10 .border-top, .footer-10 .border-bottom {
      border-color: rgba(255, 255, 255, 0.1) !important; }

    .footer-10 .footer-heading {
      font-size: 18px;
      color: #fff;
      margin-bottom: 30px; }
      
    .footer-10 p {
      color: rgba(255, 255, 255, 0.3); }

    .footer-10 a {
      color: #1089ff; }

    .footer-10 .con.con-1 {
      background: #1e1e1e; }

    .footer-10 .con.con-2 {
      background: #1c1c1c; }

    .footer-10 .con.con-3 {
      background: #1e1e1e; }

    .footer-10 .list-unstyled li a {
      color: rgba(255, 255, 255, 0.2); }

      .footer-10 .list-unstyled li a:hover {
        color: #fff; }

    .footer-10 .con-info .icon {
      width: 50px;
      height: 50px;
      background: #252525;
      border-radius: 50%;
      margin: 0 auto;
      margin-bottom: 10px; }

      .footer-10 .con-info .icon span {
        color: #fff;
        font-size: 24px; }

    .footer-10 .con-info span {
      color: rgba(255, 255, 255, 0.8); }

    .footer-10 .subscribe-form .form-group {
      position: relative;
      margin-bottom: 0;
      border-radius: 0; }

      .footer-10 .subscribe-form .form-group input {
        background: white !important;
        border: none !important;
        outline: none !important;
        color: rgba(0, 0, 0, 0.3) !important;
        font-size: 16px;
        border-radius: 0; }

        .footer-10 .subscribe-form .form-group input::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: rgba(0, 0, 0, 0.3) !important; 
        }
        .footer-10 .subscribe-form .form-group input::-moz-placeholder {
          /* Firefox 19+ */
          color: rgba(0, 0, 0, 0.3) !important; 
        }
        .footer-10 .subscribe-form .form-group input:-ms-input-placeholder {
          /* IE 10+ */
          color: rgba(0, 0, 0, 0.3) !important; 
        }
        .footer-10 .subscribe-form .form-group input:-moz-placeholder {
          /* Firefox 18- */
          color: rgba(0, 0, 0, 0.3) !important; 
        }
        .footer-10 .subscribe-form .form-group input:focus {
          outline: none !important;
          -webkit-box-shadow: none;
          box-shadow: none; 
        }
      .footer-10 .subscribe-form .form-group .submit {
        color: #fff !important;
        display: block;
        width: 130px;
        height: 52px;
        font-size: 16px;
        background: #1089ff !important;
        border: none;
        border-radius: 0; 
      }
        .footer-10 .subscribe-form .form-group .submit:hover, .footer-10 .subscribe-form .form-group .submit:focus {
          text-decoration: none !important;
          outline: none !important; 
        }
    .footer-10 .subscribe-form .subheading {
      display: inline-block;
      margin-top: 5px;
      color: rgba(255, 255, 255, 0.3);
      font-size: 13px; 
    }
    .footer-10 .ftco-footer-social li a {
      background: rgba(255, 255, 255, 0.1);
      color: #fff; 
    }