* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
    
    .slider-homes {
        display: flex;
        max-width: 100%;
        height: auto;
        overflow-x: hidden;
    }
    
    .swiper-slide {
        width: 650px;
        margin-right: 28px;
    }
    
    .box-dream {
        background-color: #ffffff;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
        padding: 15px;
    }

    .box-dream .image img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }
